<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go Stock </title>
</head>

<body>

    <h2>Hello World</h2>

    <span id="text"></span>


    <script>
        var client = new WebSocket("ws://localhost:5000/status");
        var textArea = document.getElementById("text")
        client.onmessage = function (event) {
            textArea.innerHTML = textArea.innerHTML + ' ' + event.data + '<br/>';
        }


    </script>

</body>

</html>